*
{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body
{
   color: white;
   /* margin: 0px 40px; */
   margin-left: 60px;
   margin-right: 34px;
   background: url('img/bg.jpg.jpg');
   background-repeat: no-repeat;
   font-family: 'Xanh Mono', monospace;
}

a
{
    text-decoration: none;
    display: inline-block;
}

ul
{
    list-style: none;
}

.container
{
    justify-content:space-between;
    margin-top: 20px;
}

.flex
{
    display: flex;
    align-items: center;
}

.text
{
    color: white;
    text-align: end;
    font-size: 26px;
    word-spacing: 2.5px;
    cursor: pointer;
}

.gym-logo img
{
    width: 120px;
    filter: invert(100%);
}

.gym-logo
{
    filter: blur(0.8px);
    -webkit-filter: blur(0.8px);
}

.items ul
{
    justify-content: end;
    gap: 40px;
}

.buttons ul
{
    justify-content:end;
    gap: 40px;
}

.menu li a
{
    color: white;
    font-size: 25px;
}

.menu li a:hover
{
    color: gray;
    cursor: pointer;
    border: 0.1px solid white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

.contacts li a
{
    color: white;
    font-size: 20px;
    font-family: 'Xanh Mono', monospace;
}

#call-button
{
    border: 2px solid gray;
    border-radius: 6px;
    padding: 12px 24px;
}

#call-button:hover
{
   background-color: rgb(31,30,30);
   border-color: white;
}

#email-button
{
    border: 2px solid gray;
    border-radius: 6px;
    padding: 12px 24px;
}

#email-button:hover
{
   background-color: rgb(31,30,30);
   border-color: white;
}
        /* .left
        {
            display:inline-block;
            position:absolute;
            top: 20px; 
            left: 60px;
        }  
        
        .mid
        {
            display: block;
            width: 50%;
            margin:  45px auto;
        }
        
        .right
        {
            display: inline-block;
            position:absolute;
            top: 43px;
            right: 34px;
         }

          .navbar
         {
            display: inline-block;
         }

         .navbar li
         {
            display: inline-block;
            font-size: 25px;
            margin: 0px 27px;
         }

         .navbar li a
         {
            color: white;
            text-decoration: none;
         }

         
         .navbar li a:hover
         {
            text-decoration: underline;
            color: gray;
            cursor: pointer;
         }

         .left img
         {
            width: 120px;
            filter: invert(100%);
         }

         .left div
         {
            text-align:end;
            line-height: 30px;
            font-size: 26px;
         }

         .btn
         {
            margin: 0px 9px;
            background-color: black;
            color: white;
            padding: 4px 14px;
            border: 2px solid gray;
            font-size: 20px;
            cursor: pointer;
            font-family: 'Xanh Mono', monospace;
         }

         .btn:hover
         {
            background-color: rgb(31,30,30);
         } */

         .container-form
         {
            /* border: 2px solid white; */
            margin: 40px 0px;
            padding: 75px;
            width: 35%;
            /* border-radius: 28px; */
            display: inline-block;
            right: 10px;
            position: absolute;
         }

         .form-group input
         {
            text-align: center;
            display: block;
            width: 500px;
            padding: 10px;
            /* border: 3px solid black; */
            margin: 10px auto;
            font-size: 25px;
            font-family: 'Xanh Mono', monospace;
         }

         .form-group input:hover
         {
            /* cursor: pointer; */
            border: 5px solid gray;
         }
         .container-form h1
         {
            text-align:right;
            margin-bottom: 25px;
         }

         .container-form button
         {
            display: block;
            width: 112%;
            margin: 15px auto;

            /* margin: 0px 9px; */
            background-color: black;
            color: white;
            padding: 12px 24px;
            border: 2px solid gray;
            border-radius: 6px;
            font-size: 20px;
            cursor: pointer;
            font-family: 'Xanh Mono', monospace;
         }

         .container-form button:hover
         {
            font-size: 25px;
            background-color: green;
            /* background-color: rgb(31,30,30); */
            /* border-color: greenyellow; */
            border: 2px solid greenyellow;
         }